.reviews {
  margin-top: 40px;
}

.reviews h2 {
  font-size: 1.5em;
  color: var(--primary-color);
  margin-bottom: 20px;
}

.review {
  background-color: var(--background-color);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px var(--shadow-color);
}

.reviewHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.reviewerName {
  font-weight: bold;
}

.reviewDate {
  color: #777;
}

.rating {
  font-weight: bold;
  color: var(--secondary-color);
}

.comment {
  margin-top: 10px;
  line-height: 1.6;
}
